@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:wght@100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-Green-500: hsl(158, 36%, 37%);
    --color-Green-700: hsl(158, 42%, 18%);
    --color-Black: hsl(212, 21%, 14%);
    --color-Grey: hsl(228, 12%, 48%);
    --color-Cream: hsl(30, 38%, 92%);
    --color-White: hsl(0, 0%, 100%);
    
    --font-Fraunces: "Fraunces";
    --font-Montserrat: "Montserrat";



}